/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    transition: all 0.3s ease;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #EEEDEB;
    color: #333;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(26, 26, 26, 0.25);
}

.logo {
    max-width: 220px;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    /* Hidden by default */
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-menu img {
    width: 30px;
    /* Adjust size as needed */
}

/* Navigation bar */
.navbar {
    text-align: right;
    flex-direction: column;
}

.nav-menu {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-left: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #9DA993;
}

/* Main content */
main {
    display: flex;
    padding: 30px;
    align-items: flex-start;
    flex-grow: 1;
}

.content {
    flex-grow: 2;
    flex-shrink: 1;
    text-align: left;
    margin-right: 20px;
}

/* Gallery styles */
.gallery {
    position: relative;
    width: 100%;
    min-height: 400px;
    overflow: hidden;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 6px;
    background-color: #bfbdbd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
    background-color: #737272;
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #9DA993;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer */
footer {
    padding: 1em 0;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .socialmed-icon {
    width: 35px;
    margin: 0 10px;
}

/* Responsive design for Mobile */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        /* Display the hamburger menu */
    }

    .navbar {
        display: none;
        /* Initially hide the navbar */
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;

        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        display: flex;
        /* Flex display for inline elements */
        flex-direction: row;
        /* Horizontal row alignment */
        justify-content: space-between;
        /* Logo on left, menu on right */
        align-items: center;
        /* Center items vertically */
        padding: 10px 20px;
        /* Padding for spacing */
    }

    .logo {
        flex-grow: 1;
        /* Logo occupies available space */
        max-width: 100px;
        /* Maximum logo width */
    }

    .nav-menu {
        display: flex;
        /* Enables flexbox properties */
        flex-direction: column;
        /* Stack items vertically */
        text-align: center;
        /* Center items horizontally */
        width: 100%;
        /* Full width of its container */
    }

    .nav-menu li {
        width: 100%;
        /* Full width list items */
        margin: 10px 0;
        /* Margin between items */
    }

    .nav-menu a {
        font-size: 18px;
        /* Font size of links */
        display: block;
        /* Block display for full width usage */
        text-align: center;
        /* Center text within links */
        width: 100%;
        /* Full width links */
    }

    main {
        flex-direction: column;
        /* Column layout for main content */
    }

    .content,
    .gallery {
        width: 100%;
        /* Full width for responsive layout */
    }
}

/* For desktop and tablets devices */
@media (min-width: 769px) {
    .gallery {
        height: auto;
        /* Auto-adjusting height */
        aspect-ratio: 4 / 3;
        /* Aspect ratio for visual aesthetics */
    }

    .photo {
        height: auto;
        /* Auto-adjusting height */
    }
}

/* For desktop screens */
@media (min-width: 1025px) {
    .gallery {
        max-width: 1200px;
        /* Maximum width of the gallery */
        margin: 0 auto;
        /* Centering the gallery */
    }
}